.blog-container {
    display: flex;
    flex-direction: column;
    min-height: 90ch;
    padding: 15px 20px;
}

.blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.blog-title {
    font-size: 24px;
    margin: 0px;
    font-weight: 700;
}

.blog-controls {
    display: flex;
    gap: 15px;
}

.blog-description {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #2e2d2d;
}

@media screen and (min-width: 567px) {
    .blog-container {
        padding: 15px 40px;
    }
}

@media screen and (min-width: 768px) {
    .blog-container {
        padding: 15px 60px;
    }
}