.post-container {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    min-height: 90vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}

.textarea {
    min-height: 100px;
    padding: 8px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 567px) {
    .post-container {
        padding: 15px 40px;
    }
}

@media screen and (min-width: 768px) {
    .post-container {
        padding: 15px 60px;
    }
}