.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #000000;
}

.logo {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (min-width: 567px) {
    .nav-header {
        padding: 15px 40px;
    }
}